{
  "projectname": "输入项目名",
  "setting": {
    "es6": false,
    "urlCheck": true,
    "uglifyFileName": false,
    "checkSiteMap": false,
    "postcss": false,
    "coverView": true,
    "enhance": false,
    "uploadWithSourceMap": false,
    "nodeModules": false,
		"showShadowRootInWxmlPanel": false,
    "minified": false,
    "minifyWXSS": false,
    "useCompilerModule": false
  },
  "miniprogramRoot": "./dist/",
  "compileType": "miniprogram",
  "libVersion": "2.11.3",
  "appid": "输入appid"
}
